%script{id: "itinerary-tpl", type: "text/x-handlebars-template"}
  
  %article.pin{itemscope: true, itemtype:"http://schema.org/Article", id:"{{pin_id}}"}
  
    .pin-wrapper
      
      = render 'pins/image'

      .pin-inner
        
        .pin-avatar.pull-left
          %a{href: "{{author_href}}"}
            %img.img-circle{src: "{{author_avatar}}", width:"30", height:"30"}
        
        %h1.pin-title{itemprop:"name"}
          %a{href: "{{pinnable_href}}"} {{title}}
          %span.pin-author
            {{author_name}}
    


        .clearfix
      
        .pin-summary{itemprop:"articleBody"}
          %p {{summary}}

        %p.pin-tags
          %span
            %a{href: "#"} 百年老店
            %em .
            %a{href: "#"} 奢侈品牌
            %em .
            %a{href: "#"} 内衣

        .pin-footer
          %time.pin-date{datetime: "{{datetime}}", itemprop:"datePublished"}
            {{date}}
          = render 'pins/social'
          %span.pin-views
            %i.fa.fa-eye
            {{views}}
          %span.pin-comments
            %i.fa.fa-comment
            {{comments}}