%figure.pin-image
  %img.lazy.lazy-responsive{src: "{{color_image}}", style: 'background: #{{color}}', data: {original:"{{original_url}}", width:"{{width}}", height:"{{height}}"}, id:"pin-image-{{pinnable_type}}-{{pinnable_id}}", width:"{{width}}", height:"{{height}}"}