.row
  .col-xs-12
    %center
      = image_tag(@user.avatar.thumb("100x100").url, class: "img-circle")
      %h1= @user.username
      %p.user-social{id: "#{dom_id(@user, 'social')}"}
        = render partial:"users/likes", locals: {resource: @user}
