.container-fluid
  .row
    .col-xs-12
      #container-waterfall

%script{id: "waterfall-tpl", type: "text/x-handlebars-template"}
  {{#result}}
  %article{itemscope: true, itemtype:"http://schema.org/Article", id:"{{post_id}}"}
    .pin-wrapper
      
      %figure.pin-image
        %img.lazy{src: "{{color}}", data: {original: "{{original_url}}"}, width:"{{width}}", height:"{{height}}"}

      .pin-inner
        
        .pin-avatar.pull-left
          %img.img-circle{src: "{{author_avatar}}", width:"30", height:"30"}
        
        %h1.pin-title{itemprop:"name"}
          %a{href: "{{post_href}}"} {{title}}
    
        %p
          %time.pin-date{datetime: "{{datetime}}", itemprop:"datePublished"}
            {{date}}
            %em .
          %span.pin-views
            %i.fa.fa-eye
            {{views}}
      
        .clearfix
        
        %p
          %span.pin-author
            {{author_name}}
            %em .
          %span.pin-tags
            %a{href: "#"} 百年老店
            %em .
            %a{href: "#"} 奢侈品牌
            %em .
            %a{href: "#"} 内衣
            %em .            
          %span.pin-comments
            %i.fa.fa-comment
            {{comments}}
      
        .pin-summary{itemprop:"articleBody"}
          %p {{summary}}
      
        %p.pin-social
          
          %i.fa.fa-heart-o.likes
          {{likes}}

      
      
      
      
  {{/result}}



