

#header
  %h1 resize animate
  
#container

%script{id: "waterfall-tpl", type: "text/x-handlebars-template"}
  {{#result}}
  .item
    %img{src: "{{image}}", width:"{{width}}", height:"{{height}}" }
  {{/result}}


