%h1 Brands I like
%ul
  - brands.each do |brand|
    %li
      = link_to brand_name(brand), brand_path(brand)
      %span{id: "#{dom_id(brand, 'social')}"}
        = render partial: "users/likes", locals: {resource: brand}