#collapse-itinerary-description.collapsed  {
  
  .fa-chevron-circle-down {
    display: inline-block;
  }
  
  .fa-chevron-circle-up {
    display: none;
  }
  
}

#collapse-itinerary-description {
  .fa-chevron-circle-down {
    display: none;
  }
}

.itinerary {
  
  ul.itinerary-stops {
    
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
    li {
      padding: 5px 0 5px;
      border-bottom: solid 1px black;
    }
  }
  
}


.stops {
  
  font-size: 9px;
  cursor: move;
  
  textarea {
    font-size: 9px;
  }
  
  p {
    margin: 0;
    padding: 0;
    
    .brand_name {
      font-weight: bold;
    }
  }
  
  .row-stop {
    margin: 2px 0 2px 0;
  }
  
  .no-padding {
    padding: 0;
  }
  
  .no-margin {
    margin: 0;
  }

  .row-stop:nth-child(even){
    background-color: #dcdcdc;
  }
  .row-stop:nth-child(odd){
    background-color: #aaaaaa;
  }

  
  
  .logo {
    padding: 0 3px 0 5px;
  }
  
  .trash-icon {
    width: 45px;
    height: 45px;
    background: red;
  }
}

@media (max-width: 480px) {
  .stops {
    textarea {
      padding: 0px;
      margin: 2px 0 2px;
    }
  }
}