// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	-webkit-font-smoothing: antialiased;
}

body {
	font: 80%/150% Georgia, "Times New Roman", Times, serif;
	background: #fffef1 asset-data-url("body-bg.png");
	color: #666;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
  padding-top: 70px;
}

.navbar-form2 {
  padding: 10px 0px 0px 10px;
}

.input-group-btn:first-child>.btn {
  margin-right: -2px;
}

