// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	-webkit-font-smoothing: antialiased;
}

body {
  background: #e9e9e9; //asset-data-url("body-bg.png");
  color: #666;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  padding-top: 70px;
}

@media (max-width: 480px) {
  body {
    padding-top: 60px;
  }
}

.blue {
  background: #7dc6f5;
}

.red {
  background: #fab0b6;
}

.green {
  background: #bdfab0;
}

.middle {
  vertical-align: middle;
  display: inline-block;
  float: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

a i {
  text-decoration: none;
}


/************************************************************************************
NAVBAR
*************************************************************************************/

.navbar-form2, .navbar-btn-group {
  padding: 10px 0px 0px 10px;
  width:100%;
}

.input-group-btn:first-child>.btn {
  margin-right: -2px;
}

.avatar {
  padding-top:1px;
  padding-bottom:1px;
  width:100%;
  text-align: left;
}

.wide {
  width:60%;
}


/************************************************************************************
FLASH
*************************************************************************************/


// https://github.com/estum/growlyflash
$growlyflash-top:     100px !default;
$growlyflash-side:    20px !default;
$growlyflash-width:   100px !default;
$growlyflash-zindex:  9999 !default;
@import "growlyflash";

/************************************************************************************
Translations
*************************************************************************************/

.translation_missing {
  color: red;
}

/************************************************************************************
gallery
*************************************************************************************/

.gal-item img {
  cursor: pointer;
}