@import 'base';

section.user {
  margin-top: -12px;
  
  .user-wrapper, .user-banner {
    position: relative;
  }
  
  .user-avatar {
    @extend .base-header-thumbnail;
  }
  
  .user-name {
    @extend .base-header-title;
  }
  
  .user-inner {
    @extend .base-inner;
  }

  h2 {
    font-size: 1.2em;
  }
}
