
/*
 * waterfall
 */
.pin-wrapper {
    
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 1;
    width: 240px;
    padding: 0px;
    border-radius:6px;
    line-height: 1.5;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    filter: progid:DXImageTransform.Microsoft.Shadow(color = #adacac, direction = 135, strength = 2);
    font-size: 10px;
    text-align: justify;
    
    &:hover {
        box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
        -moz-box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
        -webkit-box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
        filter: progid:DXImageTransform.Microsoft.Shadow(color = #979797, direction = 135, strength = 3);
    }
    
    img {
      display: block;
    }
    
    .pin-inner {
      padding: 0 10px 0 10px;
    }
    
    h1.pin-title {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    
    .pin-avatar {
      height: 50px;
      img {
        border: solid 1px #fcfcfc;
        border-radius: 15px;
        margin-right: 5px;
      }
    }
    
    .pin-summary {
      font-size: 12px;
    }
    
    .pin-social {
      font-size: 14px;
    }
    
    .likes {
      color: red;
    }
}




#trigger {
	padding: 10px 30px 20px 30px;
}
#trigger a { margin-right: 30px;}
