
/*
 * waterfall
 */

 $link-color: #666;

#container-waterfall {
}

#lazy-container {
  display: none;
}

.pin-wrapper {
    overflow: hidden;
    top: 0;
    z-index: 1;
    padding: 0px;
    border-radius:3px;
    line-height: 1.5;
    background-color: #fff;
    font-size: 10px;
    text-align: justify;
    box-shadow: 0 1px 0 #ddd;
    
    &:hover {
    }
    
    img {
      display: block;
    }
    
    .pin-inner {
      padding: 0 10px 0 10px;
    }
    
    h1.pin-title {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 0px;

      a {
        color:  $link-color;
      }
    }
    
    .pin-avatar {
      height: 50px;
      img {
        border: solid 1px #fcfcfc;
        margin-right: 5px;
      }
    }
    
    .pin-summary {
      font-size: 12px;
      color: #888;
    }
    
    .pin-footer {
      border-top: 1px solid #eee;
      margin-bottom: 5px;
      padding-top: 5px;
      text-align: right;
      .pin-date {
        float: left;
        color: #CCC;
      }
      .pin-social, .pin-views, .pin-comments {
        display: inline;
        font-size: 12px;
        height: 20px;
        color: #CCC;
        margin-left: 5px;
      }
    }

    .pin-tags {
      margin: 15px 0;
      span > a {
        color: #AAA;
      }
    }
    
    .likes {
      color: #CCC;
      text-decoration: none;

      &.voted_for {
        color: #ff1b81;
      }
    }
}




#trigger {
	padding: 10px 30px 20px 30px;
}
#trigger a { margin-right: 30px;}

@media (max-width: 480px) {
  
  .pin-wrapper {
    padding: 0px;
    border-radius:0px;
  }
}
