%footer
  %center
    %p
      =link_to "&copy; #{@title} #{Time.zone.now.year}".html_safe, root_path
      %span.visible-lg
        LG
      %span.visible-md
        MD
      %span.visible-sm
        SM
      %span.visible-xs
        XS