%nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  .container-fluid
    .row
      .col-xs-8
        
        = form_tag("/search", method: "get", class: "form-horizontal navbar-form2", role: "search") do
          .form-group
            .input-group
            
              .input-group-btn
                %button.btn.btn-default{type: "button"}
                  =link_to image_tag("logo.png", width:"17px", height:"17px"), "/"
              

              
              = text_field_tag(:q, nil, class: "form-control", placeholder: "Search...")
              
              
              
              %span.input-group-btn
                %button.btn.btn-default.dropdown-toggle{type: "button", data: {toggle: "dropdown"}}
                  %i.fa.fa-bars
                  %span.caret
                  
                %ul.dropdown-menu.pull-right
                  %li a
                  %li b
              

      .col-xs-3
        avatar
        = I18n.locale


    

